body{
  margin: 0;
  padding: 0;
  background: url(images/hospital.jpg) ;
  background-size: cover;
}

body{
	height: 100vh;
	width: 100%;
}

p.italic {
  font-style: italic;
}

h1 {
	 text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    font-family: sans; color:#fcc200;
}


.menu{
   position: absolute;
    left: 2px;
    top: 18px;
}

.setting{
   position: absolute;
    right: 2px;
    top: 18px;
}


.btn{
	
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.profile__img {
	align: middle;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  border: 5px solid #555;
  margin-top: 20%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  
}


.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}


.box{
  width: 600px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  color: white;
  font-family: 'Century Gothic',sans-serif;


  flex-basis:50% ;
  padding: 3em 3em;
  
  box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px ;

}

.form1{
  flex-basis: 50%;
  background-size:cover ;
  padding: 50px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  align-items: center;
  display: grid;
}

.contact-box{
  display: flex;  flex-wrap: wrap
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  
}


.left{
  background-size: cover;
  height: 100%;
}

.right{
  padding: 25px 40px;
}



/**Responsive*/

@media screen and (max-width: 880px){
  .contact-box{
    grid-template-columns: 1fr;
  }
  .left{
    height: 250px;
  }
  .right: {
    height: 200px;
    width: 900px;
  }

  .profile__img {
  align: middle;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  border: 5px solid #555;
  margin-top: 2%;
  
}

/**Responsive*/
}

@media screen and(max-width: 600px){
  .contact-box{width: 100%; order:2;}
  .left{width: 100%;order: 1;}
  .right: {
    height: 200px;
    width: 500px;
  }
}
